/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #666;
}

/* Container for centered content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styling */
header {
    background: #fff;
    color: #666;
    padding: 20px 30px;
    font-size: 0.9em;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

header p {
    display: inline;
    margin-left: 20px;
    font-weight: 300;
    color: #888;
}

header p a {
    color: inherit;
    text-decoration: none;
}

header p a:hover {
    text-decoration: underline;
}

/* Language Toggle Button */
.toggle-btn {
    padding: 6px 12px;
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 400;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggle-btn:hover {
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    header {
        align-items: center;
    }

    .toggle-btn {
        margin-top: 10px;
        padding: 4px 8px;
        font-size: 0.8em;
    }
}

/* Navigation Text */
.nav-text p {
    margin: 0;
    font-size: 0.9em;
    color: #333;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.nav-text .separator {
    margin-left: 20px;
    color: #888;
    font-weight: normal;
}

@media (max-width: 480px) {
    .nav-text {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .nav-text p {
        font-size: 0.85em;
    }
    .nav-text .separator {
        display: none;
    }
}

/* Hero Section */
.hero {
    background-color: #fff;
    text-align: center;
    padding: 100px 0 40px;
}

.hero h1 {
    font-size: 4em;
    font-weight: 300;
    color: #333;
}

.hero h1 span {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    font-weight: 400;
}

.hero-picture {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* About Me Section */
.about-me {
    padding: 50px 10%;
    background-color: #fff;
    text-align: center;
    color: #333;
    font-family: 'Lora', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.about-me p {
    max-width: 900px;
    margin: 0 auto;
    font-weight: 300;
    color: #666;
}

/* Portfolio Section */
.portfolio {
    padding: 50px 10%;
    background-color: #fff;
    text-align: center;
}

.portfolio-categories {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;
}

@media (max-width: 480px) {
    .portfolio-categories {
        gap: 0; /* Reduced gap for mobile devices */
    }
}


.portfolio-categories li {
    list-style: none;
    cursor: pointer;
    font-weight: 400;
    color: #888;
    font-size: 1em;
    padding: 6px 9px;
    transition: color 0.3s ease, transform 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.portfolio-categories li::before {
    content: "+";
    color: #666;
    margin-right: 5px;
}

.portfolio-categories li.active::before {
    content: "-";
}

.portfolio-categories li:hover,
.portfolio-categories li.active {
    text-decoration: underline;
    color: #000;
    transform: scale(1.05);
}

@media (max-width: 480px) {
    .portfolio-categories {
        flex-direction: column;
        align-items: center;
    }
    .portfolio-categories li {
        margin-bottom: 10px;
    }
}


/* Content Sections */
.content-section {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.content-section.active {
    display: block;
    opacity: 1;
}

.content-section p {
    font-size: 1.0em;
    font-weight: 100;
    color: #666;
    line-height: 1.4;
    margin-top: 10px;
}

/* Footer */
footer {
    background: #f9f9f9;
    color: #888;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9em;
    margin-top: 50px;
    border-top: 1px solid #e0e0e0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }

    .portfolio-gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    header {
        text-align: center;
        padding-right: 0;
    }

    header p {
        display: block;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.5em;
    }
    body {
        padding: 10px;
    }
}
